<div class="card">
    <div class="class-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione optio quasi deserunt illum dolorum officia alias ipsum ad cum tempore voluptatum, cumque laboriosam rem assumenda dignissimos beatae perferendis reiciendis distinctio, placeat ducimus aspernatur laborum libero. Tenetur nulla obcaecati sed sint.</p>
    </div>
</div>


